h1 {
  padding-top: 20px;
}

.about-container p {
  max-width: 1000px;
  width: 70%;
  margin: 0 auto;
  padding: 15px 0px;
}

.notice {
  text-align: center;
  background-color: rgb(216, 123, 120);
  color: #fff;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  border-left: 10px solid rgb(216, 123, 120);
  border-right: 10px solid rgb(216, 123, 120);
}

.about-container {
  padding-bottom: 20px;
}

table {
  max-width: 1000px;
  width: 70%;
  margin: 10px auto 30px auto;
}

.table__header th {
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(36, 36, 36, 1);
  color: #fff;
  padding-left: 6px;
  text-align: left;
}

.new-content td {
  border-bottom: 1px solid rgba(36, 36, 36, 1);
}

input {
  width: 100%;
  border: none;
  color: rgb(216, 123, 120);
  margin-left: 6px;
}

.add-btn {
  padding: 2px 6px;
  border-style: solid;
  border-color: rgb(216, 123, 120);
  background-color: #fff;
  border-radius: 8px;
  color: rgb(216, 123, 120);
  font-size: 1rem;
  margin: 3px;
}

/*
.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-top: 10px;
  margin-bottom: 6px;
  color: #242424;
}

.form-input {
  display: block;
  padding-left: 10px;
  border-radius: 10px;
  height: 40px;
  border-style: solid;
}

.form-input::placeholder {
  color: #595959;
}

.form-input-btn {
  padding: 5px 15px;
  border-style: solid;
  border-color: #242424;
  border-radius: 8px;
  background-color: #fff;
  height: 50px;
  margin: 18px 0px;
  font-size: 1rem;
}

.form-input-btn:hover,
.form-input-btn:active {
  cursor: pointer;
  background-color: rgb(216, 123, 120);
  transition: all 0.4s ease-out;
  color: #fff;
  border-color: rgb(216, 123, 120);
  outline-color: rgb(216, 123, 120);
}

input:active,
input:hover {
  outline-color: rgb(216, 123, 120);
}
*/
