video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  background: url("/images/home/plants-edited.jpg") top center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, o, o, o.2);
  object-fit: contain;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: 220px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #242222;
}

.hero-container > p {
  margin-top: 4px;
  color: #242222;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucinda Sans Unicode", "Lucida Grande",
    "Lucinda Sans", Arial, sans-serif;
  line-height: 4vh;
  text-align: center;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #fff;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 30px;
    margin-top: 350px;
  }

  .hero-container > p {
    font-size: 15px;
  }
}
